{% extends "base.html"%}
{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% trans "Jamiyat tarixi" %}</title>
</head>
<body>
    {% block content %}
    <section id="stats" class="stats section light-background" style="background-color: white;">

        <div class="container" data-aos="fade-up" data-aos-delay="100" style="margin-top: 200px;">
  
          <div class="row gy-4">
            <h1>{% trans "JAMIYATNI RIVOJLANTARISH STRATEGIYASI" %}</h1>
            <div class="accordion accordion-flush" style="margin-top: 100px;" id="accordionFlushExample">
                <div class="alert" role="alert">
                    {% trans "“Talimarjon issiqlik elektr stansiyasi” aksiyadorlik jamiyatining 2026 yilga rivojlanish STRATEGIYASI" %} <br><br>

                    {%  trans "Elektr energetikasi korxonamizning etakchi, bazaviy sohalaridan birlashtiriladi. 2010 yil 2010 10:00 10:00:00. O'zbekistonning boy energetika salomatlik jamiyatida samarali davlat boshqaruvi mavjud suv-energetika resurslari va uglivodorod xom ashyosidan yuqori xonaga foydalanish, elektr energiyasiga talabni to'liq ta'minlash imkonini beradi." %} <br><br>
                    {%  trans "Bunda issiqlik energiyasi mamlakatimizda elektr energiyasini ishlab chiqarishning asosiy ma'nosi bo'lib qoladi va energiya tejamkor texnologiyalardan foydalanilgan holatda rivojlanishi butun mamlakat energiya tizimini ta'minlaydi." %} <br><br>
                    {%  trans "Hozirgi vaqtda mamlakatimizning mavjud elektr energiyasi ishlab chiqarilishining qariyb 12 foiz “ Talimarjon issiqlik elektr stantsiyasi” aksiyadorlik jamiyati ulushiga keladi." %} <br><br>
                    {%  trans "Ushbu yarayonda “ Talimarjon issiqlik elektr stansiyasi” aksiyadorlik jamiyati elektr energiyasini ishlab chiqarish vazifalarini amalga oshirishga oshirib, davlatimiz korxonasi va xavfsizlik va xavfsizlik texnikasini qo'llab-quvvatlash maqsadida elektr energiyasini ishlab chiqarishga yordam beradi." %} <br><br>
                    {%  trans "Jamiyatning hozirgi holati" %} <br><br>
                    {% trans "Hozir kunda “ Talimarjon IES” AJ tarkibida 3 ta energoblok mavjud bo'lib o'rganilganligi 1700 MVt, amaldagi harakatlarni esa 1620 MVtni, issiqlik energiyasini ishlab chiqarishni esa 16 G/kalni tashkil etish." %} <br><br>
                    
                    {% trans "Elektr energiyasi va issiqlik energiyasini ishlab chiqarish uchun asosiy elektr energiyasi tabiiy gaz va zahira elektr energiyasi ishlab chiqariladi." %} <br><br>
                    {%  trans "2017-2020 yillardagi asosiy ishlab chiqarishni ishlab chiqaruvchilar va erishilgan loyihalar" %} <br><br>
                    {%  trans "2017-2021 yillarda elektr energiyasi ishlab chiqarishda yiliga o'rtacha 3.6 tegishlida o'sish kuzatildi." %} <br><br>
                    {%  trans "2017 yilda 12,63 mlrd.kVt.soat elektr energiyasi ishlab chiqarilgan energiya, 2018 yilda 13,52 mlrd.kVt.soat, 2019 yilda 12,71 mlrd.kVt.soat 2020 yilga kelib 9,42 mlrd.kVt.kVt.soat elektr soati2 ishlab chiqarilgan. esa 13.13 mlrd.kVt.soat elektr va shu davrdagi umumiy o'sish soni 15 foizni tashkil etildi." %} <br><br>
                    {%  trans "Jamiyat kuchi 2022 yilning 3 oyida 3,18 mlrd.kVt soat elektr energiyasi ishlab chiqarish ishlab chiqarilishi hamma vaqt o'sishi 2021 yil yakuniga ko'ra 10,84 mlrd.kVt soatga yetkashish ko'zda tutilgan." %} <br><br>
                    {%  trans "Strategiyaning asosiy maqsadlari, vazifalari va barqaror yo'nalishlari.Strategiyaning asosiy vazifalari quyidagilardan tarkib topgan:" %} <br><br>
                    {%  trans "-mamlakatimiz korxonalarining elektr energiyasiga importiga bog'liq bo'lmagan holatda, energiya manbalari importiga bog'liq bo'lmagan holatda, ichki elektr energiyasini ishlab chiqarish quvvatlariga qo'shilish;" %} <br><br>
                    {%  trans "- energetik xavfsizlikni ta'minlash;" %} <br><br>
                    {%  trans "- ortib borayotgan talabni qo'yish maqsadida elektr energiyasini ishlab chiqarishda samaradorlikni oshirish;" %} <br><br>
                    {%  trans "- elektr uskunalarni bosqinchi-bosqich yangilash, qayta ishlab chiqarish hamda elektr tarmog'i quvvatlarini qayta tiklashga elektr jihozlarining eskirishlarini olish." %} <br><br>
                    {%  trans "Yuqoridagi vazifalarni samarali bajarish uchun qo'yidagi asosiy ustivor yo'nalishlarning amallarga o'shirishini ta'minlash zarur:" %} <br><br>
                    {%  trans "birinchidan, yangi energiya ob'ektlarini qurish va mavjudlarini modernizatsiya qilish, zamonaviy axborot-kommunikatsiya texnologiyalarini yo'qotish uchun elektr energiyasini olish tizimi va dispetcherlik boshqaruvini takomil boshqarish;" %} <br><br>
                    {%  trans "ikkinchidan, energiya tejamkor texnologiyalar asosida ishlab chiqarish quvvatlarini texnologigacha bo'lgan elektr energiyasidan foydalanish samaradorligini oshiradi." %} <br><br>
                    {%  trans "chichidan, davlat-xususiy sherikchilik tamoyillari asosda investitsiya loyihalarini amalga oshirish;" %} <br><br>
                    {%  trans "to'rtinchi uzok saqlanadi, navbatdagi, yordamdan- birinchi xorijiy mablag'ni jamlash uchun qulay registriy baza va ma'muriy investitsiyani va elektr energiyasining ulgurji bozorini shakllantirish;" %} <br><br>
                    {%  trans "beshinchidan, korporativ boshqaruvni takomil ishlab chiqarish va korxonaning shaxsiy-xo'jalik faoliyatinii shaffofligini oshirish." %} <br><br>
                    {%  trans "Strategiyada belgilangan vazifalarni amalga oshirish chora tadbirlar" %} <br><br>
                    {%  trans "Ayni paytda mamlakatimizda elektr energiyasiga bo‘lgan talab ortib borayotganini hisobga olib, 2022-2026-yillarda mavjud energiya bloklarini modernizatsiya va rekonstruksiya qilish hamda yuqori samarali energiya ishlab chiqarish texnologiyalari asosida yangi ishlab chiqarish quvvatlarini qurish hisobiga elektr energiyasi ishlab chiqarish quvvatlarini bosqichma-bosqich oshirish ko‘zda tutilmoqda." %} <br><br>
                    {%  trans "Shu maqsadda, 2019-2024 yillar “Talimarjon IPP” Ajning 4 va 5 energiya bloklarini yangi “Tolimarjon issiklik electric station sini umumiy quvvati 900 MW dan kam bulmagan navbatdagi ikki dona bug-gaz kurilmasini Kurish bilan kengaitirish" rejalashtirilgan."} <br><br>
                    {%  trans "SHu tomonidan amalga oshirilgandan sung “Talimarjon IES” AJ ning o'rnatish quvvati 2600 MW dan oshadi." %} <br><br>
                    {%  trans "202-2026 yillardagi texnik-iqtisodiy qurilmalarni yaxshilash, axborot-kommunikatsiya texnologiyalarini rivojlantirish boʻyicha chukur diagnostics va tisimli zararni aniklash boʻyicha zamonaviy talablar va halkaro standart. javob tez rejalashtirish va boshkarish tizimi yaratiladi, yani:" %} <br><br>
                    {%  trans "- korkhonada energetika tejovchi texnologiyalarni joriy etish va qayta tiklanuvchi energiya manbalarini o'rnatish;" %} <br><br>
                    {%  trans "- 1 kVt.s. elektr energiya ishlab chiqarish chikarish uchun energiya ishlab chiqarishning solistirma sarfini onlayn nazorati juritishni hamda issiqlikdan barqaror va samarali foidalanishni ta'minlashga analog-raqamli u o'zgartirishgichlar va dasturlarni o'rnatish;" %} <br><br>
                    {%  trans "- rejalashtirish va ta'mirlash ishlariga tayorgarlik jarayonlarini raqamlashtirishga boskichma-boskich o'tish – arizalarni qabul qilish, ishlar hajmini aniklash, moddiy-texnika resurslarini sotib olish, pudratchini aniklash va tamirlash ishlarini olib borish, shu nazorat nazorati;" %} <br><br>
                    {%  trans "- jamda keng kwlamli transformation of jarayoniyatlarini amalga oshirish, shu jumladan, zamonaviy boshkaruv va tashkiliy jarayonlarni monitoring qilish va boshkarishga yö ̳tgan corporate akhborot ERP olib joriy etish, hisobotning halkaro standartlarini (IFRS) joriy etish." %}
                </div>
            </div>
        </div>
    </div>
    </section>
</body>
</html>

{% endblock %}