{% extends "base.html"%}
{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% trans "Jamiyat tarixi" %}</title>
</head>
<body>
    {% block content %}
    <section id="stats" class="stats section light-background" style="background-color: white;">

        <div class="container" data-aos="fade-up" data-aos-delay="100" style="margin-top: 200px;">
  
          <div class="row gy-4">
            <h1>{% trans "MAXSULOT VA XIZMATLAR" %}</h1>
            <div class="accordion accordion-flush" style="margin-top: 100px;" id="accordionFlushExample">
                <div class="alert" role="alert">
                    {% trans "'Tolimarjon IES' AJ umumiy quvvati 1700 MVt. 800 MVtli 1-energkblok 2004-yilda ishga tushirilgan. 450 MVtli 1-bug‘-gaz qurilmasi 2016-yil oxirida, 450 MVtli 2-bug‘-gaz qurilmasi 2017-yil boshida ishga tushirilgan. Stansiya yiliga o‘rtacha 7,2 mlrd kVt soat elektr energiyasi ishlab chiqaradi. 1-va 2-bug‘-gaz qurilmalarida 1 kVt elektr energiyasi ishlab chiqarish uchun 214 gramm shartli yoqilg‘i sarflanadi. Stansiyada yiliga 25 000 Gkall issiqlik energiyasi ham ishlab chiqarilib, iste'molchilarga yetkazib beriladi." %}

                    {% trans "Stansiyada 10 ta asosiy sex bo‘lib, bular Qozon turbina -1 sexi, Qozon turbina -2 sexi, Suvni kimyoviy tozalash sexi, Elektr sexi, Markaziy ta'mirlash sexi va Oqava suv inshootlari sexi, Suv inshootlari sexi, Ichimlik suvi ta'minoti sexi, Energosozlash sexlaridir." %}
                    
                    {% trans "Shuningdek, stansiya tarkibida 'Sohibqiron' nomidagi bolalar oromgohi ham mavjud." %}
                </div>
            </div>
        </div>
    </div>
    </section>
</body>
</html>

{% endblock %}